.item {
display: flex;
flex-direction: column; 
 justify-items: center;
margin: .5rem .5rem;
}

.item_wrap {
  text-align: left;
  padding: .5rem 1rem;
   border: 1px black solid;
   margin: .5rem .5rem;
   background-color: aliceblue;
}

.item_wrap > h1 > h2 > p{
    text-align: left;
}